/*Mandisa Harris 12/02/2025*/
/*Random Coffee Fact Generator*/

/*the body will be centered*/
body {
    background-color: rgb(21, 21, 19); /*fallback color in case image doesn't load*/
    background-image: url(images/coffee.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /*ensures the background image covers the entire screen*/
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#box {
    background-color: rgba(196, 231, 214, 0.712);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#coffeeFact { /*italicized the p element to allow for a distinction between the heading and fact*/
    font-size: 1.3em;
    font-style: italic;
    color: #141414;
}

button {
    font-size: 1.2em;
    margin: 16px;
    padding: 10px;
    max-width: 200px;
    border-radius: 10px;
    border: none;
    transition: background 0.3s ease; /*when cursor hovers over button, background changes smoothly*/
    cursor: pointer;
}

button:hover {
    background-color: rgba(82, 87, 71, 0.89);
}

@media (max-width: 600px) { /*responsive design for smaller screens*/
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #coffeeFact {
        font-size: 1em;
        padding: 10px;
        border-radius: 20px;
    }

    button {
        font-size: 1em;
        padding: 8px;
        max-width: 150px;
    }
}
